/*
    Custom tag styles
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

:root {
    --replete-tag-border: none;
    --replete-tag-radius: 3px;
}

/* --- Clean style tags --- */
/* .cm-hashtag {
    border-radius:0 !important;
    border:var(--replete-tag-border);
}
.cm-hashtag-begin {
    padding-left:var(--replete-tag-padding-horizontal) !important;
    border:var(--replete-tag-border) !important;
}

.cm-hashtag-end {
    padding-right:var(--replete-tag-padding-horizontal) !important;
    border:var(--replete-tag-border) !important;
} */

/* --- Box styling if tag is in a list --- */
.HyperMD-list-line .cm-hashtag {
    border:var(--replete-tag-border) !important;
    background-color: hsla(var(--base-h), var(--base-s), calc(var(--base-l) - 20%), 0.3);
    color:var(--tx4);
    display: inline-block;
    line-height:1em;
    transform: translate(0,-2px);
}
.theme-dark .HyperMD-list-line .cm-hashtag {
    background-color: hsla(var(--base-h), var(--base-s), calc(var(--base-l) + 40%), 0.4);
}

/* Hide pound sign without breaking dropdown UI hook */
.HyperMD-list-line .cm-hashtag-begin {
    width:0;
    visibility:hidden;
    display:none;
    font-size:10px;
}

/* main hashtag styling */
.HyperMD-list-line .cm-hashtag-end {
    border:var(--replete-tag-border) !important;
    border-radius: var(--replete-tag-radius) !important;
    padding: 3px 3px 3px 4px !important;
    text-transform: uppercase !important;
    font-weight:600;
    font-size:10px;
    letter-spacing: 0.04em;
}

/* alternate styles when line is active for editing */
.HyperMD-list-line.cm-active .cm-hashtag-end {
    text-transform:none !important;
    font-weight:500 !important;
    font-size:11px;
    letter-spacing:normal;
    border-top-left-radius:0 !important;
    border-bottom-left-radius:0 !important;
}

.HyperMD-list-line.cm-active .cm-hashtag-begin {
    width:0.6em;
    font-size:11px;
    font-weight:500 !important;
    visibility: visible;
    display:inline-block;
    border-top-left-radius: var(--replete-tag-radius);
    border-bottom-left-radius: var(--replete-tag-radius);
    padding: 3px !important;
    opacity:0.8;
}

/* GTD tags */
.cm-tag-next {
    color:var(--color-accent-1) !important;
}

.cm-tag-someday {
    color:var(--color-orange) !important;
}

.cm-tag-waiting {
    color:var(--color-pink) !important;
}

.cm-tag-blocked {
    color:var(--color-red) !important;
}

.cm-tag-done {
    color:var(--color-green) !important;
}