/*
    Tables tweaks
    WIP
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/
:root {
    --table-border-color: var(--text-faint);
}

/* Border color */
.cm-s-obsidian .cm-table-widget th, 
.cm-s-obsidian .cm-table-widget td{
    border-color: var(--table-border-color);
}

/* Bold header row */
.cm-s-obsidian .cm-table-widget th {
    font-weight:bold;
}