/*
    Typography
    WIP. Loosely following github markdown styles, but will change over time
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

/* Fix list offsets */
.HyperMD-list-line.cm-line {

    .cm-formatting-list {
        margin-left:6px;

        .list-bullet {
            margin-right:5px;
        }
    }

    .cm-formatting-list-ol {
        margin-left:-3px;
        margin-right:6px;
    }

    /* .cm-hmd-list-indent {
        .cm-indent::before {
            margin-left:2.5px;
        }
    } */

    .task-list-item-checkbox {
        transform: translateY(-.5px);
        margin-left:0;
    }
}

/* list and blockquote colors */
.cm-s-obsidian .cm-formatting-quote {
    color: var(--tx2)
}

.cm-s-obsidian .cm-formatting-quote {
    transform:translate(-3px,0);
    display: inline-block;
}


/* Headings */
.cm-s-obsidian {
    --h1-size:2em !important;
    --h2-size:1.5em !important;
    --h3-size:1.25em !important;
    --h3-weight:600 !important;
    --h4-size:1em !important;
    --h4-weight:600 !important;
    --h4-variant: normal !important;
    --h5-size:0.875em !important;
    --h5-weight:600 !important;
    --h5-variant: normal !important;
    --h6-size:0.75em !important;
    --h6-weight:600 !important;
    --h6-variant: normal !important;
}

/* h5, 
.markdown-rendered h5, 
.HyperMD-header-5, 
.HyperMD-list-line .cm-header-5 {
    text-transform: uppercase;
    letter-spacing:0.05em
}

h6, 
.markdown-rendered h6, 
.HyperMD-header-6, 
.HyperMD-list-line .cm-header-6 {
    text-transform: uppercase;
    letter-spacing:0.05em
} */

/* Quotes */
.HyperMD-quote {
    display:block !important;
}
.HyperMD-quote::before {
    opacity:0;
}
.HyperMD-quote::after {
    content:'';
    display:block;
    background:var(--bg3);
    width:4px;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.HyperMD-quote.cm-active {
    border-color:transparent;
}
.HyperMD-quote.cm-active::after{
    display:none;
}

.HyperMD-quote cite {
    color:var(--tx3);
    display: inline-block;
}

/* fix is-flashing display */

.cm-editor .is-flashing {
    background:hsla(var(--base-h), var(--base-s), calc(var(--base-l) + 30%),0.5);
}


/* Footnote styles */
.HyperMD-footnote {
    color:var(--tx2);
    /* font-size:12px !important; */
}

.HyperMD-footnote .cm-hmd-internal-link > *{
    color:var(--tx2) !important;
    text-decoration-color:var(--tx2) !important;
    opacity:1 !important;
}