/*
    Condensed Tab Header Icons
    Make icons in tab headers more compact, for smaller screens
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

.workspace-tab-header-container-inner {
    gap:1px !important
}

.workspace-tab-header-inner{
    padding-left:3px;
    padding-right:3px;
}

.nav-buttons-container {
    justify-content:start !important;
}

.nav-buttons-container .clickable-icon {
    padding-left:8px;
    padding-right:3px;
}

.nav-buttons-container .clickable-icon{
    color:var(--tx2) !important;
    transition: .2s color ease-in;
}

.nav-buttons-container .view-actions:hover .clickable-icon {
    color: var(--tx1) !important;
}