/*
    Ultra Compact Sidebar (non-resiable)

    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

.mod-sidedock.mod-left-split {
	transition: .1s width ease-in-out;

	&:not(:hover) {
		/* sidebsr shrinks if not hovered */
		/* you can still resize the hovered sidebar width by dragging the handles, but its invisible */
		width:135px !important;
		transition: .1s width ease-in-out;
	}
}
