/*
    Collapsible Right Headers
    Save some space in the right headers
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

/* header container on right */
.mod-right-split .workspace-tabs + .workspace-tabs .workspace-tab-header-container {
    background:
        repeating-linear-gradient(
            135deg, 
            var(--background-modifier-border) 0px, 
            transparent 1px,
            transparent 10px,
            var(--background-modifier-border) 11px, 
            transparent 11px
        ) !important;
    height:8px;
    transition:.2s all ease-in;
    border-bottom-color:transparent;
}
.mod-right-split .workspace-tabs + .workspace-tabs .workspace-tab-header-container::before {
    content:'';
    background:linear-gradient(to top, var(--background-primary), transparent);
    display:block;
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    top: 0;
    outline:2px solid red;
}


.mod-right-split .workspace-tabs + .workspace-tabs .workspace-tab-header-container:hover,
.mod-right-split .workspace-tabs + .workspace-tabs .workspace-tab-header-container:focus-within,
body.is-grabbing .mod-right-split .workspace-tabs + .workspace-tabs .workspace-tab-header-container {
    /* is-grabbing visibility is to make dragging panels around usable */
    height:var(--header-height);
    background:var(--background-primary) !important;
}
