/*
    Tab Headder on bottom
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

.view-header {
    position: fixed;
    bottom:0;
    width: 100%;
    background:var(--background-primary) !important;
    border-top: 1px solid var(--divider-color) !important;
}

/* vertical status bar when right sidedock is closed */
:has(.mod-right-split.is-sidedock-collapsed) .status-bar {
    transform: translate(3px, calc(var(--header-height) * -1));
    width: var(--header-height);
    flex-direction: column !important;
    background-color: transparent;
}

:has(.mod-right-split.is-sidedock-collapsed) .status-bar-item {
    margin-right: 10px !important
}

:has(.mod-right-split.is-sidedock-collapsed) .status-bar .day-planner-progress-bar {
    display:none !important
}

:has(.mod-right-split.is-sidedock-collapsed) .status-bar .day-planner-status-bar-text {
    margin-right:20px !important;
    display: none;
}