/*
    Condensed Tab Header Icons
    Make icons in tab headers more compact, for smaller screens
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

.workspace-tab-header-container-inner {
    gap:0 !important
}

.workspace-tab-header-inner{
    padding-left:2px;
    padding-right:2px;
}
.nav-header {
    /* padding-top:8px;
    padding-bottom:4px;
    padding-left:9px; */
}
.nav-buttons-container {
    justify-content:start !important;
}

.nav-buttons-container .clickable-icon {
    padding-left:3px;
    padding-right:3px;
}

.nav-buttons-container .clickable-icon{
    color:var(--tx2) !important;
    transition: .2s color ease-in;
}

.nav-buttons-container .view-actions:hover .clickable-icon {
    color: var(--tx1) !important;
}

.nav-buttons-container .cmdr.clickable-icon{
    /* background:var(--bg3) */
    /* box-shadow:1px 1px 2px var(--bg3) */
    /* color:var(--tx2) !important */
}