/*
    Note styles: Daily Note template-specific styles
    Requires `cssclass  dailynote` in note YAML frontmatter 
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/


.dailynote {

    &.cm-content.is-live-preview > div:nth-of-type(4) {
        margin-bottom:15px !important;
    }

    &.is-live-preview  {
        
        /* Blockquote styles (I only use blockquotes in my daily note for actual quotes) */
        .HyperMD-quote {
            font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
            letter-spacing:0.01em;
        
            .cm-quote.cm-hmd-internal-link {
                color:var(--tx2);
                font-style:italic;
                opacity:0.7;
        
                    > * {
                        color:var(--tx2);
                        text-decoration: none !important
                    }
        
                    &::before {
                        content:'—'
                    } 
            }
        }

        /* h2 styles */
        .cm-header-2 {
            font-size:20px !important;
            letter-spacing: 0.05em;
            color:var(--tx2) !important;
            text-transform:uppercase;
        }

        /* h3 styles */
        .cm-header-3 {
            font-size:18px !important;
            letter-spacing: 0.05em;
            color:var(--tx2) !important;
            text-transform:uppercase;
        }

        /* h4 styles */
        .cm-header-4 {
            font-size:16px !important;
            color:var(--tx3) !important;
            text-transform:uppercase;
            letter-spacing:0.1em;
            font-weight:600;
        }
        &:not(.is-live-preview) .cm-header-4,
        .cm-focused .cm-active .cm-header-4 {
            text-transform:none !important
        }
        .HyperMD-header-4 {
            padding-top:0 !important;
            padding:.4em 0 !important;

            .cm-task-progress-bar:has(.progress-bar-inline-4)::after {
                color:var(--tx3)
            }
        }

        /* h5 styles */
        .cm-header-5 {
            font-size:13px !important;
            color:var(--tx3) !important;
            text-transform:uppercase;
            /* font-weight:400; */
            /* letter-spacing:0.1em; */
        }
        &:not(.is-live-preview) .cm-header-5,
        .cm-focused .cm-active .cm-header-5 {
            text-transform:none !important;
            letter-spacing:0;
        }
        .HyperMD-header-5 {
            padding-top:0 !important;

            .cm-task-progress-bar {
                transform:scale(0.7);
                transform-origin:0;

                &:has(.progress-bar-inline-4)::after {
                    color:var(--tx3)
                }
            }
        }

        /* h6 styles */
        .cm-header-6 {
            font-size:16px !important;
            font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
            font-weight: 300;
            font-style:italic;
            color:var(--tx2) !important;
        }
        .HyperMD-header-6 {
            /* font-variant:normal;
            font-weight:bold; */
            .cm-task-progress-bar {
                display:none; /* hide on h6 */
                transform:scale(0.7);
                transform-origin:0;
        
                &:has(.progress-bar-inline-4)::after {
                    color:var(--tx3)
                }
            }
        }

        /* fold placeholder */
        .HyperMD-header .cm-foldPlaceholder {
            display:none;
        }

        /* Callouts */
        .callout {
            padding:.5em .75em;

            .callout-content {
                ul {
                    padding-left:0;
                }

                /* Callouts task list fix */
                li[data-task] {
                    padding-inline-start:var(--list-indent);

                    .task-list-item-checkbox {
                        margin-left: -22px;
                        transform: translate(-4px, 0)
                    }
                }
            }
        }

        /* Task progressbar style */
        .cm-task-progress-bar {
            box-shadow:inset 1.5px 2px 3px -2px rgba(0,0,0,.5),
                1px 1px 2px -2px rgba(255,255,255,.5);
            border-radius:10px;
        }

        /* Fix task progressbar for elements */
        .HyperMD-header-1 .cm-task-progress-bar {
            transform:translate(0, -3px) !important
        }
        .HyperMD-header-2 .cm-task-progress-bar {
            transform:translate(0, -2px) !important
        }
        .HyperMD-header-4 .cm-task-progress-bar {
            transform: translate(0, -2px) scale(0.8);
            transform-origin: 0
        }

        .HyperMD-list-line .cm-task-progress-bar {
            transform: translate(0, -7px) scale(0.8);
            transform-origin: 0
        }
        

        /* Embedded markdown files - containers */
        .inline-embed {
            border:none;
            background: hsla(var(--base-h), var(--base-s), calc(var(--base-l) - 10%), 0.5);
            padding-top: var(--size-4-6);
            padding-bottom: var(--size-4-6);
            padding-right: calc(var(--size-4-6) * 1.5);
            --font-text: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
            --line-height: 1.6; 
            letter-spacing:0.01em;

            .embed-title {
                display:none;
            }
            .markdown-embed-link {
                width:1.5rem;
                height:1.5rem;
                position:absolute;
                right:5px;
                top:5px;
            }

            /* Specific sections: */
            &:has(:is(
                [data-heading=Errors],
                [data-heading=Reflect])
             ) {
                .mod-header + [data-heading] {display:none}
                .has-list-bullet {margin-top:5px}
                .el-ul:has(.contains-task-list) {display:none}
            }

            :is(h1) {
                text-align: center;
            }

            &[src*='The Daily Laws'] {
                :is(h2) {
                    text-align: center;
                    font-family:var(--font-default);
                    text-transform:uppercase;
                    letter-spacing: 0.05rem;
                    font-size: 16px;
                    opacity:0.7;
                }
                :is(h3) {
                    margin:2rem 0 1rem;
                }
            }

        }
        .file-embed.mod-empty,
        .file-embed.mod-empty-attachment {
            border-radius:0;
            background:transparent;
            text-align:left;
            font-style: italic;
            color: var(--tx3);
            padding-left:0;

            &:hover {
                color:var(--link-color);
            }
        }

        /* Embedded markdown files - content */
        .markdown-embed-content {

            .markdown-preview-sizer[style] {

                /* fix min-height being too large, to fit content better */
                min-height:auto !important;
            }

            /* p */
            :is(p) {
                /* margin-bottom:0; */
                margin-block-end: 1rem;
            }
        
            [data-heading] {
                margin-top:0;
                
                &:is(h6) {
                    margin-bottom: 0;
                    color:var(--tx2) !important;
                    font-style:italic;
                    font-weight:400;
                    font-size:15px;
                }
            }
        }

        /* Hide code blocks until hover */
        .cm-preview-code-block .edit-block-button {
            display:none !important;
        }
        .cm-preview-code-block:hover .edit-block-button {
            display:block !important;
        }

        /* Style first footnote after page heading */
        .HyperMD-header-1 + .HyperMD-footnote {
            text-indent:-7px;
            opacity:0.7;
            
            .cm-underline {
                color:var(--tx2);
                text-decoration: none; 
            }
        }

        /* Table borders */
        .table-wrapper {
            > table thead tr th {
                border:0;
                font-weight:normal; /* remove header styling */
            }
            > table td {
                border-left:0 !important;
                border-right:0 !important;
            }
            > table tbody tr:last-child {
                border-bottom: 1px solid var(--table-border-color);
            }
        }

        /* Dataview styles */
        .dataview {
            &.list-view-ul {
                margin-top:0;
                /* margin-bottom:0; */
            }
        }
    }
}

/* Daily Note Outline tweaks */
/* Container */
.workspace-leaf-content[data-type="daily-note-outline"] .view-content {

    /* Disable inline preview */
    .nav-file-title-preview {
        display:none;
    }

    /* h4 heading */
    .tree-item-self[aria-label*='####'] {
        font-size:12px !important;
        color:var(--tx3) !important;
        text-transform:uppercase;
        letter-spacing:0.1em;
        font-weight:600;
    }

    /* h5 heading */
    .tree-item-self[aria-label*='#####'] {
        font-size:12px !important;
        color:var(--tx3) !important;
        text-transform:uppercase;
        letter-spacing:0.1em;
        font-weight:600;
    }

    /* h4 heading */
    .tree-item-self[aria-label*='######'] {
        font-size:13px !important;
        font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
        font-weight: 400;
        font-style:italic;
        color:var(--tx3) !important;
        letter-spacing:0;
        text-transform:none;
    }
}