/*
    Make.MD Contexts: Gradient Banners
    Gradient Banners

    https://i.imgur.com/o3e6GTa.png
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/
:root {
	--make-md-configured-banner-height: 200px;
	--replete-banner-fade-height: 130px;
    --replete-banner-fade-offset: 10;
}
.mk-inline-context {
    .mk-path-context-component {
        &:has(.mk-space-banner) {
            /* Moves the note text above the fade of the banner */
            height:calc(var(--replete-banner-height) / var(--replete-banner-fade-offset));
        }
    }

	&::after {
		content:'';
		display: block;
		width:100%;
		position: absolute;
		left:0;
		height:var(--replete-banner-fade-height);
		top:calc(var(--make-md-configured-banner-height) - (20px + var(--replete-banner-fade-height)));

		background:
			linear-gradient(to bottom, transparent 10%, var(--background-primary)),
			linear-gradient(to bottom, transparent 20%, var(--background-primary));
		pointer-events:none;
	}
}


