/*
    Make.MD Contexts: Auto-hide meta

    https://i.imgur.com/pqUXiQj.gif
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/
.is-live-preview .mk-inline-context :is(.mk-file-context-field-new,.mk-file-context-section) {
    display:none;
}

.is-live-preview .mk-inline-context:is(:hover, :focus-within) :is(.mk-file-context-field-new,.mk-file-context-section) {
    display:flex;
}

/* Fix margin */
.mk-inline-context {
    gap: 4px !important;
}

.is-live-preview .mk-inline-context:is(:hover, :focus-within) {
    gap: 16px !important
}

