/*
    Make.MD Banners 
    
    The only thing I use Make.MD for now is the banner functionality.
    This base snippet alters metrics and makes the layout comopact.
    Use the other Duotone, Faded, Autohide, Disable meta in addition.
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

.mk-file-context-component {
    > .mk-spacer {
        max-height:10px !important;
    }

    /* Tags */
    .mk-tag-selector {
        margin-top:-3px;

        .cm-hashtag { 
            border:none;
            padding:0;
            opacity:1;
        }

        /* Small tag text */
        :is(.cm-hashtag-begin, .cm-hashtag-end){
            font-size:11px !important;
        }
    }
    
    /* Add Property, Add Tag, Change Cover buttons  */
    .mk-file-context-field-new {
        order:2;
        margin-top:5px;
        gap:6px;
        opacity:1;

        button {
            background:var(--background-modifier-hover) !important;
            text-transform:uppercase;
            font-weight:700;
            font-size:9px;
            padding:3px 4px 3px 3px !important;
            line-height:7px;
            height: auto;
            color:var(--tx3) !important;
            text-indent:-3px;

            .theme-dark & {
                color:var(--tx2) !important;
            }

            &:hover {
                color:var(--tx2) !important;

                .theme-dark & {
                    color:var(--tx1) !important;
                }
            }

            .mk-icon-xsmall {
                transform:scale(0.9);
                transform-origin:center center;

                svg {
                    .theme-dark & {
                        stroke:var(--tx2) !important
                    }
                }
            }

            &:first-of-type .mk-icon-xsmall {
                transform: translate(0, -0.5px) scale(0.85)
            }

            &:nth-of-type(2) .mk-icon-xsmall {
                transform: translate(0, -0.5px) scale(0.85);
            }
        }
    }

    /* File properties */
    &:has(.mk-file-context-section) {
        margin-top:-5px
    }

    &:has(.mk-file-context-section) div:empty{
        display:none;
    }
}

.mk-file-context-section {
    gap:0
}

.mk-file-context-field {
    min-height:none !important;
    width:25%;

    .theme-dark & {
        /* File metadata: Brighter colours on dark theme */
        color: var(--tx2) !important
    }
}

.mk-cell-text {
/* File metadata: value */
color:var(--text-faint) !important;

    &:hover,
    &:focus-within {
        color:var(--tx1) !important;

        .theme-dark & {
            color:var(--text) !important
        }
    }

    /* File properties: Fix checkboxes */
    input[type=checkbox] {
        transform:translate(0,-2px)
    }
    &:has(input[type=checkbox]) {
        max-height:20px;
    }
    :has(input[type=checkbox]):hover {
        background:transparent !important
    }

    .theme-dark & {
        /* File metadata: Brighter colours on dark theme */
        color: var(--tx2) !important
    }
}

/* No file properties: Hide empty div */
.mk-header:not(:has(.mk-note-header img)) .mk-file-context-component > div:empty {
    display:none;
}

.mk-path-context-component {
    > .mk-spacer.mk-spacer {
        /* Fix top spacer when banner showing */
        height: calc(var(--mk-header-height) - 140px) !important;
    }

    .mk-path-context-file {
        /* Shorten inline context filename spacer suffix */
        + div[style] {
            /* display:none; */
            height:4px !important;
        }
    }
}


/* BANNER */

/* Disable magnify cursor */
.mk-note-header {

    &:has(img) + .mk-file-context-component {
        padding-top:45px !important;
    }
    img {
        cursor:default !important
    }
}

/* Hide banner in hover popover */
.hover-popover .mk-header {
    display:none;
}
