/*
    Native scrollbars
    I styled the native scrollbars before I reaized there was an option to render them in Obsidian, but I like these and don't care enough to make styles for the non-native scrollbars
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/
:root {
    --scrollbar-size: 8px;
}
::-webkit-scrollbar {
  width: var(--scrollbar-size);  /* for vertical scrollbars */
  height: var(--scrollbar-size); /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
    background:transparent;
}
::-webkit-scrollbar-track:vertical {
    background:linear-gradient(to right, transparent 50%, rgba(0,0,0,.08));
}
::-webkit-scrollbar-track:horizontal {
    background:linear-gradient(to bottom, transparent 50%, rgba(0,0,0,.08));
  }
::-webkit-scrollbar-thumb {
    background: var(--nav-indentation-guide-color);
}
::-webkit-scrollbar-thumb:vertical {
    border-radius: var(--scrollbar-size) 0 0 var(--scrollbar-size);
}
::-webkit-scrollbar-thumb:horizontal {
    border-radius: var(--scrollbar-size) var(--scrollbar-size) 0 0;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
}