.cm-task-progress-bar.with-number{
    /* background-color: red; */
}

.cm-task-progress-bar.with-number .progress-status {
    /* background-color: blue; */
    color:var(--tx2);
    font-weight:400;
    font-size:10px;
    position:absolute;
    transform:translate(-4px,-12px);
    /* letter-spacing:0.04em; */
    width:4em;
}


.HyperMD-header .cm-task-progress-bar {
    pointer-events:none;
    position: absolute;
    margin-top:calc(.5em + 1px);
    margin-left:10px;
}


/* colors */
/* .cm-task-progress-bar .progress-bar-inline-1 { background-color:var(--color-red) }
.cm-task-progress-bar .progress-bar-inline-2 { background-color:var(--color-yellow) }
.cm-task-progress-bar .progress-bar-inline-3 { background-color:var(--color-green) } */
.cm-task-progress-bar .progress-bar-inline-4 { background-color:#6BCB77 }

/* background color */
.HyperMD-header .cm-task-progress-bar .progress-bar-inline-background {
    background-color: var(--divider-color) !important;
}

/* complete state */

.cm-task-progress-bar .progress-bar-inline-4 {
display:none
}
.cm-task-progress-bar:has(.progress-bar-inline-4)::after {
    content:'✓';
    position:absolute;

    top:50%;
    color: var(--tx2);
    font-size:24px;
    /* color:var(--color-green); */
    line-height: 1em;
    transform:translate(-4px, -8px)
}