
/* WIP */

.cm-editor {
    outline:2px solid red;
}

span.tasks-list-text span:not(:first-child) span {
  display: inline-block;
  color: var(--text-muted);
}

span.tasks-list-text span:not(:last-child) span {
    margin-inline-end: 0.5ch;
}
